<h1>All restaurants!</h1>
<div class='center-btn'>
  <p class='my-btn padding-hard'><%= link_to 'Add a new restaurant', new_restaurant_path %></p>
</div>
<div class="cards w-70">
  <% @restaurants.each do |r| %>
    <div class="card-category">
    <%= link_to r.name, restaurant_path(r) %>
    </div>
  <% end %>
</div>
